<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.dao.ShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.market.entity.Shop">
        <id column="id" property="id" />
        <result column="shop_name" property="shopName" />
        <result column="shop_account" property="shopAccount" />
        <result column="shop_pwd" property="shopPwd" />
        <result column="shop_linkman" property="shopLinkman" />
        <result column="shop_phone" property="shopPhone" />
        <result column="shop_logo" property="shopLogo" />
        <result column="shop_hours" property="shopHours" />
        <result column="shop_advice" property="shopAdvice" />
        <result column="shop_address" property="shopAddress" />
        <result column="shop_type_id" property="shopTypeId" />
        <result column="createDate" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shop_name, shop_account, shop_pwd, shop_linkman, shop_phone, shop_logo, shop_hours, shop_advice, shop_address, shop_type_id, createDate
    </sql>

</mapper>
