<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superman.supermarket.dao.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superman.supermarket.entity.Employee">
        <id column="id" property="id" />
        <result column="emp_account" property="empAccount" />
        <result column="emp_pwd" property="empPwd" />
        <result column="emp_name" property="empName" />
        <result column="emp_status" property="empStatus" />
        <result column="emp_phone" property="empPhone" />
        <result column="createDate" property="createDate" />
        <result column="shop_id" property="shopId" />
        <!--
            配置用户与角色关系
        -->
        <association property="roles" javaType="com.superman.supermarket.entity.Roles">
            <id property="id" column="roles_id"></id>
            <result property="roleName" column="role_name"></result>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, emp_account, emp_pwd, emp_name, role_id, emp_status, emp_phone, createDate, shop_id
    </sql>

    <!-- 根据用户id关联查询用户角色 -->
    <select id="findEmpById" parameterType="int" resultMap="BaseResultMap">
        SELECT emp.*,r.`id` roles_id,r.`role_name`
        FROM employee emp,roles r
        WHERE emp.`role_id` = r.`id`
        AND emp.`id` = #{id}
    </select>

    <!-- 根据用户名查询用户 -->
    <select id="getEmployeeByEmpAccount" parameterType="string" resultMap="BaseResultMap">
        SELECT emp.*,r.`id` roles_id,r.`role_name`
        FROM employee emp,roles r
        WHERE emp.`role_id` = r.`id`
        AND emp.`emp_account`= #{account}
    </select>
</mapper>
